button {
    display: block;
}

.button {
    background-image: linear-gradient(#99BAED, #99BAED, #99BAED);
    color: #FFFFFF;
    border: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: 700;
    line-height: 1.6666rem;
    letter-spacing: 0.03em;
    box-shadow: 0 17px 50px #99BAED;
    cursor: pointer;
    transition-duration: 1.5s;
    background-position: 0;
    background-repeat: no-repeat;
    transition-property: all;
}

.button:hover{
    background-image: linear-gradient(#99BAED, #99BAED, #99BAED);
    background-color: #FBB400;
    color:#FFFFFF;
    box-shadow: 0 17px 50px #FBB400;
    border: none;
    background-position: 200px;
}


.header__button {
    padding: 23px 32px;
}

.hero__button {
    padding: 22px 41px;
    margin-bottom: 50px;
}

.wrapp__btn {
    margin-bottom: 50px;
}

.galery__button {
    margin: 0 auto;
}

.social__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 67px;
    height: 67px;
    border-radius: 50%;
    background: #D3E5FF;
    transition-duration: 1s;
}

.social__icon:hover{
    background-color: #99BAED;
    transform: scale(1.1);
}

