.title {
    font-family: 'Catamaran', sans-serif;
    font-weight: 700;
    color: #163561;
    text-transform: capitalize;
}

.title::selection {
    background-color: #FBB400;
}

h1 {
    font-size: 3rem;
    line-height: 4rem;
    margin-bottom: 30px;
}

h2 {
    font-size: 2.8rem;
    line-height: 3rem;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 80px;
}

.our-history h2{
    text-align: left;
}

h3 {
    font-size: 1.8rem;
    line-height: 2rem;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 60px;
}

.title__color_orange {
    color: #FBB400;
}

.title__color_orange::selection {
    background-color: #163561;
}

.text {
    max-width: 526px;
    font-family: 'Catamaran', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.52rem;
    opacity: 0.65;
    letter-spacing: 0.03em;
    color: #163561;
    margin-bottom: 96px;
}

.text::selection {
    background-color: #FBB400;
}

.our-history .text {
    margin-bottom: 48px;
}

.services .text {
    text-align: center;
    max-width: 360px;
    margin: 0;
    padding: 0;
}

.footer .text {
    text-align: center;
    margin-bottom: 47px;
}